@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Dosis", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
html {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

/* -------------nav bar start---------------- */
header nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.mainshow {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.mainshow img {
  position: fixed;
  margin-left: 20px;
  height: 75px;
  width: 75px;
}

.mainshow ul {
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-right: 1%;
}
.mainshow li {
  font-size: 20px;
  display: inline;
  text-align: center;
  font-weight: bolder;
  transform: translateY(43px);
}
.mainshow li a {
  color: rgb(0, 0, 0);
  margin-right: 10px;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.4s;
  padding: 5px;
  border-radius: 5%;
}
.mainshow li a:hover {
  padding: 10px;
  border: 1px solid rgb(255, 0, 0);
  transform: scale(1.1);
}
/*---------------- nav bar end ---------------- */

/*------------ background video start---------- */
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.videobanner {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.azzie {
  position: absolute;
  transform: translate(-20px, -30px);
  color: rgb(255, 255, 255);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 5%;
  z-index: 10;
  text-align: center;
  padding: 5px;
}
/* my pic */
.ana {
  position: absolute;
  height: 500px;
  object-fit: cover;
}
@media (min-width: 300px) {
  .ana {
    height: 490px;
  }
}
@media (min-width: 500px) {
  .ana {
    height: 600px;
  }
}
@media (min-width: 800px) {
  .ana {
    height: 700px;
  }
}
/* laptop */
.float-lap {
  position: absolute;
  height: 300px;
  transition: all 1s;
  animation-name: floaty;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes floaty {
  from {
    transform: translate(120px, -230px) rotate(-5deg);
  }
  to {
    transform: translate(120px, -250px) rotate(-5deg);
  }
}
/* camera */
.float-cam {
  position: absolute;
  transition: all 1s;

  animation-name: floaty-cam;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  width: 100px;
}
/* responsive part */
@media (max-width: 400px) {
  .arrow {
    display: none;
  }
}
@media (min-width: 300px) {
  @keyframes floaty-cam {
    from {
      transform: translate(-100px, -190px) rotate(-5deg);
    }
    to {
      transform: translate(-100px, -210px) rotate(-5deg);
    }
  }
  @keyframes floaty {
    from {
      transform: translate(90px, -190px) rotate(-5deg);
    }
    to {
      transform: translate(90px, -210px) rotate(-5deg);
    }
  }
  .float-lap {
    height: 150px;
  }
  .float-cam {
    height: 110px;
  }
}
@media (min-width: 500px) {
  @keyframes floaty-cam {
    from {
      transform: translate(-130px, -220px) rotate(-5deg);
    }
    to {
      transform: translate(-130px, -250px) rotate(-5deg);
    }
  }
  @keyframes floaty {
    from {
      transform: translate(90px, -190px) rotate(-5deg);
    }
    to {
      transform: translate(90px, -210px) rotate(-5deg);
    }
  }
  .float-cam {
    height: 130px;
  }
  .float-lap {
    height: 240px;
  }
}
@media (min-width: 800px) {
  @keyframes floaty-cam {
    from {
      transform: translate(-150px, -250px) rotate(-5deg);
    }
    to {
      transform: translate(-150px, -290px) rotate(-5deg);
    }
  }
  @keyframes floaty {
    from {
      transform: translate(130px, -220px) rotate(-5deg);
    }
    to {
      transform: translate(130px, -250px) rotate(-5deg);
    }
  }
  .float-cam {
    height: 170px;
  }
  .float-lap {
    height: 330px;
  }
}
/*--------------- background video end------------- */

/*---------------- my life section "2nd" start ------------*/
.about-header {
  color: white;
  border-bottom: 3px solid rgb(7, 227, 51);

  width: fit-content;
  padding-top: 20px;
  padding-bottom: 10px;
  animation-name: rgb;
  animation-duration: 4s;
  animation-iteration-count: infinite;

  margin: 15px auto;
}
.about-me-sec {
  background-color: black;
  height: 100vh;
  display: grid;

  place-items: center center;
  overflow: scroll;
}

.all-cards {
  background-color: black;
  display: grid;
  gap: 10px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  border: 3px solid red;
  position: relative;
  margin: 0 auto;
}
.image {
  position: relative;
  background-color: black;
}
.image img {
  background-color: black;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  display: block;
}
.card-text {
  background-color: black;
  height: 100%;
  padding: 10px 50px;
  font-size: large;
}
.card-text h1 {
  font-size: xx-large;
}

@keyframes rgb {
  0% {
    border-color: rgb(255, 0, 0);
  }
  25% {
    border-color: rgb(37, 224, 227);
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}
/* ----------------my life section "2nd" end------------- */

/* ----------------designs section start----------- */
.new-sec {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
  background-color: black;
}

#sec-des-title {
  text-align: center;
  align-self: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 3px solid;
  animation-name: last-word;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes last-word {
  0% {
    border-color: rgb(255, 0, 0);
  }
  25% {
    border-color: rgb(37, 224, 227);
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}

@media (max-width: 1320px) {
  #sec-des-title {
    margin-top: 30px;
  }
}

.title-name-last-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 0%);
  width: 250px;
  height: 250px;
  margin: 40px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s 0.1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
  font-weight: bold;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

figure,
.img-bg figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 250px;
  height: 250px;
}

/* img */
.img-card {
  height: 250px;
  /* border-radius: 0px; */
}

/* figcaption */
figcaption {
  display: block;
  width: auto;
  margin-top: 12%;
  padding: 8px 22px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 12px;
  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
}
/* coloring stage and shape */

.img-bg {
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
.card-front ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  list-style: none;
  color: var(--white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
.card-front li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;
  margin-right: 20px;
  font-size: 17px;
  text-align: center;
  position: relative;
}

.card-front li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  opacity: 0.2;
}

/* button */
.card-back button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);
  letter-spacing: 2px;
  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.card-back button:hover,
.card-back button:focus {
  color: white;
  background: hsla(var(--hue), 25%, 10%, 0.2);
  border-color: currentColor;
}

.card-back button:active {
  transform: translate(2px);
}

/* .design-container */

/* states */
button:hover + .design-container,
button:active + .design-container,
button:focus + .design-container {
  --tr: 20;
  --op: 0.7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}
/* ----------------designs section end----------- */

/*-----------------start-3rd-projects-sec ------------*/
#projects-sec {
  background-color: black;
  height: 100vh;
  width: auto;
  overflow: scroll;
}
#cards {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  padding: auto 0;
  height: auto;
  overflow: scroll;
  padding-top: 10px;
}

.card-abc {
  color: white;
  padding: 1rem;
  margin: 10px 15px;
  height: 500px;
  display: inline-block;
}
#cards div:nth-child(1) {
  border: 2px solid rgb(9, 206, 250);
  border-radius: 0%;
}
#cards div:nth-child(1):hover {
  box-shadow: 0px 0px 10px 2px rgb(9, 206, 250);
}
#cards div:nth-child(2) {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0%;
}
#cards div:nth-child(2):hover {
  box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
}
#cards div:nth-child(3) {
  border: 2px solid red;
  border-radius: 0%;
}
#cards div:nth-child(3):hover {
  box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
}

@media (min-width: 300px) {
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-abc:last-of-type {
    grid-column: 1 / -1;
  }
}
@media (min-width: 900px) {
  #cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-abc p {
  letter-spacing: 2px;
  line-height: 2rem;
  display: block;
  margin: 0 auto;
  font-size: larger;
  text-align: center;
}
.card-abc h1 {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.card-abc img {
  display: block;
  margin: 5px auto;
  width: 250px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5%;
}

@media (min-width: 300px) {
  #cards {
    padding-top: 3%;
  }
}
@media (min-width: 600px) {
  #cards {
    padding-top: 3%;
  }
}
@media (min-width: 900px) {
  #cards {
    padding-top: 5%;
  }
}
.sec3-hi {
  color: white;
  border-bottom: 3px solid rgb(7, 227, 51);
  margin: auto;
  width: fit-content;
  padding-top: 30px;
  padding-bottom: 10px;
  animation-name: rgb;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes rgb {
  0% {
    border-color: rgb(255, 0, 0);
  }
  25% {
    border-color: rgb(37, 224, 227);
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}
/*-----------------end-3rd-projects-sec ------------*/

/* ------------start footer sec--------------- */

footer {
  border-top: 3px solid red;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  position: relative;
  animation-name: line;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes line {
  0% {
    border-color: rgb(255, 0, 0);
  }
  25% {
    border-color: rgb(37, 224, 227);
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}

@media (min-width: 300px) {
  @keyframes phones {
    0% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
  .blue-phone-img {
    position: absolute;
    width: 40%;
    left: 100px;
    top: 200px;
    transform-origin: top center;
    animation-name: phones;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .red-phone-img {
    position: absolute;
    width: 50%;
    left: 190px;
    top: 90px;
    transform-origin: top center;
    animation-name: phones;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .cloud-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
  }
}

@media (min-width: 500px) {
  @keyframes phones {
    0% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
  .blue-phone-img {
    position: absolute;
    width: 200px;
    top: 220px;
    right: 100px;
    transform-origin: top center;
    animation-name: phones;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .red-phone-img {
    position: absolute;
    width: 250px;
    top: 60px;
    left: 200px;
    transform-origin: top center;
    animation-name: phones;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .cloud-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
  }
}
@media (min-width: 900px) {
  @keyframes phones {
    0% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
  .blue-phone-img {
    position: absolute;
    width: 15%;
    top: 0px;
    left: 50%;
    transform-origin: top center;
    animation-name: phones;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .red-phone-img {
    position: absolute;
    width: 20%;
    top: 0px;
    left: 70%;
    transform-origin: top center;
    animation-name: phones;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .cloud-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
  }
}
.outro {
  display: block;
  margin: auto;
  padding-top: 20px;
  width: 100%;
  height: 200px;
  z-index: 10;
}
.outro h1 {
  text-align: center;
  padding: 30px;
  color: white;
}
.outro p {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: red;
}
footer li:nth-child(1) {
  filter: invert(76%) sepia(73%) saturate(346%) hue-rotate(128deg)
    brightness(95%) contrast(89%);
}
footer li:nth-child(2) {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(287deg)
    brightness(103%) contrast(101%);
}
footer li:nth-child(3) {
  filter: invert(37%) sepia(89%) saturate(6089%) hue-rotate(347deg)
    brightness(102%) contrast(117%);
}

#icons {
  margin: 0 auto;
}
#pic-ana {
  transition: all 1s;
  position: absolute;
}

/* ------------end footer sec--------------- */

/* made by azzie  */
